.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-size: cover;
    -fx-background-image: url("https://i.imgur.com/wQgwoF0.jpg");
}
#loginbutton
{
    -fx-background-radius: 20;
    -fx-border-width: 1;
    -fx-border-radius: 20;
	-fx-background-color: white;
}
#loginbutton:hover
{
    -fx-background-color:black;
}

#account
{
    -fx-background-radius: 20;
    -fx-border-width: 1;
    -fx-border-radius: 20;
	-fx-background-color: white;
}
#account:hover
{
    -fx-background-color:black;
}