#toolbox
{
	-fx-background-color: white;
	-fx-border-color: #9C9C9C;
	-fx-border-width: 2;
	-fx-border-radius: 10;
}
#pencil
{
	-fx-background-image: url("/resources/pencil.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#rectangle
{
	-fx-background-image: url("/resources/rectangle.png");
	-fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#roomlist
{
	-fx-background-color: #057384;
    -fx-background-radius:0 5 5 0;


}

#circle
{
	-fx-background-image: url("/resources/circle-shape-outline.png");
	-fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

#pencil:hover, #circle:hover, #rectangle:hover
{
    -fx-border-color: #0066ff;
	-fx-border-width: 2;
}
#outputChat
{
	-fx-background-color: #CEE3E6;
	-fx-background-radius: 7;
	-fx-opacity: 1;
}
#inputChat
{
	-fx-background-color: #CEE3E6;
	-fx-background-radius: 10;
}

